
/*.navbar-nav .nav-item .nav-link {font-size: 20px; font-weight: 600;color: rgb(49, 156, 54); }
.navbar-nav .nav-item :hover {background-color:rgb(49, 156, 54);border-radius: 15px;text-decoration: underline; }*/
body {background-color: rgb(43, 43, 43); }
.navbar {
    background-image: url(http://user-master.org/media/k2/items/cache/c10c64c27e0606d1654b81b9bb482558_XL.jpg);
     }
.qwe{background-image: url(https://i.ytimg.com/vi/RkgEMkTo5vA/maxresdefault.jpg);
font-size: 22px; color:rgb(167, 190, 161); border-radius: 20px; padding: 25px;margin-left: 32px; margin-right: 32px;}

.qwe1{background-color: black; color: white;}

.tilt {transition: all 1s;}
.tilt :hover {-webkit-transform: rotate(-10deg);}
.icons {height: 25px;}
#abc {transition: all 2s;}
.back1 {background-image: url(960.jpg);
    background-repeat: no-repeat; 
    background-size: 100% auto;
    height: 770px;
text-align: center;
font-size: 60px;
color: black }
.dropdown-item{color: rgb(0, 135, 189) }
.dropdown-item:hover { background-color: rgb(0, 98, 189); color: white ; transition: all 2s;}
;